/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Lora', serif;
    font-size: 62%;
    color: #ffffff;
    background-image: url(../14212552_5437842.jpg);
    background-size: cover;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    font-size: 2rem;
    border: 2px solid #232323;
    border-radius: .5rem;
    max-width: 500px;
    max-height: 500px;
    
}

.calculator-name{
    background-color: #232323;
    border-bottom: 1px solid #f3f3f3;
    padding: 1.5rem 0;
    display: flex;
    width: 100%;
}

.calculator-name h3{
    margin:  0 auto;
}



.calculator-name span{
    margin-top: .2rem;
    margin-left: 1rem;
}

.calculator-display{
    padding: 1.5rem 1rem;
    width: 100%;
    text-align: right;
    background-color: #363636;
    overflow-x: auto;
}

.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button{
    width: 25%;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
    background-color: #232323;
    color: #f3f3f3;
    border: 1px solid #f3f3f3;
  
}

.keypad-button:hover{
    background-color: #4ECDC4;
}

.keypad-button.sign {
    background-color: #1A535C;
}

.keypad-button.iqual{
    font-weight: bold;
}

.keypad-button.red{
    background-color: #FF6B6B;
}

.keypad-button.large{
    width: 50%;
}

.keypad-button.porc{
    background-color: #63a6cf;
}

.keypad-button.par{
    background-color: #74BBC4;
}

